
model.png
*.jpg
*.mp4

unspecificLosses.png
unspecificAccs.png
Tabels/UnspecificCSVs/UnspecificWithPrecision.xlsx
Tabels/UnspecificCSVs/unspecific.csv
Tabels/UnspecificCSVs/Daten_unspecific_25Epochs_1.xlsx
Tabels/SpecificCSVs/SpecificNetwork1.xlsx
Tabels/SpecificCSVs/Specific2.xlsx
Tabels/SpecificCSVs/specific.csv
Tabels/ProgramArchitecture.graphml
Tabels/plots/RMSprop/Unspecific_RMSprop1e-3_loss_2.png
Tabels/plots/RMSprop/Unspecific_RMSprop1e-3_loss.png
Tabels/plots/RMSprop/Unspecific_RMSprop1e-3_acc_2.png
Tabels/plots/RMSprop/Unspecific_RMSprop1e-3_acc.png
Tabels/plots/Adam/Unspecific_Adam1e-3_loss_2.png
Tabels/plots/Adam/Unspecific_Adam1e-3_loss.png
Tabels/plots/Adam/Unspecific_Adam1e-3_acc_2.png
Tabels/plots/Adam/Unspecific_Adam1e-3_acc.png
Tabels/plots/Adagrad/Unspecific_Adagrad1e-3_loss_2.png
Tabels/plots/Adagrad/Unspecific_Adagrad1e-3_loss.png
Tabels/plots/Adagrad/Unspecific_Adagrad1e-3_acc_2.png
Tabels/plots/Adagrad/Unspecific_Adagrad1e-3_acc.png
Tabels/Evaluation_unspecific.txt
Tabels/Evaluation_specific.txt
Tabels/Evaluation_specific
specificLosses.png
specificAccs.png
pictures/specific/TrainingSet2/Nikolas_Grewe